<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>URL Content</title>
  <style>
  body {
    padding-right: 30px;
    padding-left: 30px;
    margin: 17px;
    
    font-family: Arial, sans-serif;
    background-color: aqua; /* Set background color to aqua */
    display: flex;
    justify-content: center; /* Align content horizontally */
    align-items: center; /* Align content vertically */
    min-height: 100vh; /* Make the page height at least full screen */
  }

  .container {
    
    margin: 43px;
    width: 80%; /* Set width of the container */
     /* Set maximum width */
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  }

  h1 {
    color: #333; /* Set heading color */
    background: darkslategrey;;
  }

  p {
    color: #666; /* Set paragraph color */
    line-height: 1.6; /* Set line height for better readability */
  }

  .freq-words {
    margin-top: 20px; /* Add some space between content and frequency of words */
  }

</head>
<body>
  <div class="container">
    <span><h1 style="color: red;">URL Content</h1></span>
    
    <p>{{ content }}</p>
    <!-- <div class="freq-words">
      <h2>Top 10 Most Frequent Words:</h2>
      <ul>
        {% for word in freq_10 %}
          <li>{{ word }}</li>
        {% endfor %}
      </ul>
    </div> -->
  </div>
</body>
</html>
