<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>URL Content</title>

</head>
<body>
  <div class="container">
    <span><h1 style="color: red;">URL Content</h1></span>
    
    <p>{{ content }}</p>
    <!-- <div class="freq-words">
      <h2>Top 10 Most Frequent Words:</h2>
      <ul>
        {% for word in freq_10 %}
          <li>{{ word }}</li>
        {% endfor %}
      </ul>
    </div> -->
  </div>
</body>
</html>
